.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.calculator {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background-color: rgb(64, 109, 152);
    height: 350px;
    width: 250px;
}
.display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.display{
    display: flex;
    height: 75px;
    width: 200px;
    justify-content: flex-end;
    padding-right: 15px;
    color: white;
    align-items: center;
    background-color: rgba(68, 125, 178, 0.538);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 14px;
    font-weight: bold;
}
.bottom-section{
    margin-left: 20px;
    flex-direction: column;
    display: flex;
    width: 250px;
}
.button{
    margin-bottom: 5px;
    width: 50px;
    height: 40px;
    background-color:rgb(20, 71, 119);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#clear{
    width: 105px;
}